<!DOCTYPE html>
<html lang="zh-Hant-TW">

<%- include('./layout/head', { title: '關於職旅 | 職旅' ,
  description: '職旅 WorkWay 匯集了來自不同領域、擁有豐富實戰經驗的自由工作者與數位遊牧專家。根據你的需求和階段，我們提供一對一諮詢。' }) %>

  <body>
    <%- include('./layout/navbar', {isLogin: false}); %>

      <main>
        <%- include('./layout/page-banner', { title: '關於職旅' ,
          description: '職旅 WorkWay 匯集了來自不同領域、擁有豐富實戰經驗的自由工作者與數位遊牧專家。根據你的需求和階段，我們提供一對一諮詢。' , subDescriptionShow: true,
          subDescription: '無論你是剛開始探索期，還是已在轉型路上遇到瓶頸，我們都能提供適合你的專業指導。' }) %>
          <section class="py-9 py-lg-12">
            <div class="container">
              <h2 class="h2 text-center">精實的職旅夥伴</h2>
              <p class="text-lg text-slate mt-4 mt-lg-6 text-center">我們相信，最好的指導來自於那些已經走過你想走的路，並願意伸出手拉你一把的人。</p>
              <div class="slider-wrapper">
                <ul class="cards-container py-4 my-2 py-lg-6 my-6 d-flex gap-6">
                  <li class="shadow rounded-3 bg-light position-relative about-list">
                    <div class="about-card">
                      <div class="about-card-head rounded-top-3">
                        <img src="../assets/images/about-people-1.jpg" alt="陳志遠 Ethan Chen">
                      </div>
                      <div class=" p-4 pb-6">
                        <p class="text-md text-slate fw-medium">數位轉型先驅</p>
                        <h3 class="h4 fw-medium mt-2">陳志遠 Ethan Chen</h3>
                        <ul class="mt-4 d-flex flex-wrap">
                          <li class="text-sm text-slate border rounded-pill d-block py-1 px-2 mb-1 me-2"># 遠端工作策略</li>
                          <li class="text-sm text-slate border rounded-pill d-block py-1 px-2 mb-1 me-2"># 數位遊牧生活設計</li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li class="shadow rounded-3 bg-light position-relative about-list">
                    <div class="about-card">
                      <div class="about-card-head rounded-top-3">
                        <img src="../assets/images/about-people-2.jpg" alt="陳志遠 Ethan Chen">
                      </div>
                      <div class=" p-4 pb-6">
                        <p class="text-md text-slate fw-medium">個人品牌策略專家</p>
                        <h3 class="h4 fw-medium mt-2">林曉彤 Clara Lin</h3>
                        <ul class="mt-4 d-flex flex-wrap">
                          <li class="text-sm text-slate border rounded-pill d-block py-1 px-2 mb-1 me-2"># 個人品牌建立</li>
                          <li class="text-sm text-slate border rounded-pill d-block py-1 px-2 mb-1 me-2"># 內容行銷策略</li>
                          <li class="text-sm text-slate border rounded-pill d-block py-1 px-2 mb-1 me-2"># 故事行銷</li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li class="shadow rounded-3 bg-light position-relative about-list">
                    <div class="about-card">
                      <div class="about-card-head rounded-top-3">
                        <img src="../assets/images/about-people-3.jpg" alt="王建明 Marcus">
                      </div>
                      <div class=" p-4 pb-6">
                        <p class="text-md text-slate fw-medium">財務自由規劃顧問</p>
                        <h3 class="h4 fw-medium mt-2">王建明 Marcus</h3>
                        <ul class="mt-4 d-flex flex-wrap">
                          <li class="text-sm text-slate border rounded-pill d-block py-1 px-2 mb-1 me-2"># 稅務優化</li>
                          <li class="text-sm text-slate border rounded-pill d-block py-1 px-2 mb-1 me-2"># 被動收入建立</li>
                          <li class="text-sm text-slate border rounded-pill d-block py-1 px-2 mb-1 me-2"># 現金流管理</li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li class="shadow rounded-3 bg-light position-relative about-list">
                    <div class="about-card">
                      <div class="about-card-head rounded-top-3">
                        <img src="../assets/images/about-people-4.jpg" alt="張雅琳 Ariel">
                      </div>
                      <div class=" p-4 pb-6">
                        <p class="text-md text-slate fw-medium">創意接案與多元收入專家</p>
                        <h3 class="h4 fw-medium mt-2">張雅琳 Ariel</h3>
                        <ul class="mt-4 d-flex flex-wrap">
                          <li class="text-sm text-slate border rounded-pill d-block py-1 px-2 mb-1 me-2"># 創意變現策略</li>
                          <li class="text-sm text-slate border rounded-pill d-block py-1 px-2 mb-1 me-2"># 線上課程開發</li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li class="shadow rounded-3 bg-light position-relative about-list">
                    <div class="about-card">
                      <div class="about-card-head rounded-top-3">
                        <img src="../assets/images/about-people-5.jpg" alt="李俊宏 Kevin Lee">
                      </div>
                      <div class=" p-4 pb-6">
                        <p class="text-md text-slate fw-medium">遠端工作技術顧問</p>
                        <h3 class="h4 fw-medium mt-2">李俊宏 Kevin Lee</h3>
                        <ul class="mt-4 d-flex flex-wrap">
                          <li class="text-sm text-slate border rounded-pill d-block py-1 px-2 mb-1 me-2"># 專案管理自動化</li>
                          <li class="text-sm text-slate border rounded-pill d-block py-1 px-2 mb-1 me-2"># 虛擬團隊管理</li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="bg-primary rounded-3 p-6 pt-4 p-lg-9 pt-lg-6 about-commitment">
                <div class="text-center">
                  <span class="bg-light rounded-2 d-inline-block h5 text-primary about-commitment-tooltip">團隊承諾</span>
                </div>
                <p class="text-md text-light text-center fw-normal mt-4 mt-lg-6 about-commitment-description">
                  我們不只是顧問，更是你職業轉型路上的夥伴與同行者。我們深知轉型過程中的不確定與恐懼，也經歷過停滯不前的困境。正因如此，我們更懂得如何陪你走過這段旅程，不只指引方向，更與你並肩同行。</p>
                <div class="text-center mt-6 mt-lg-9">
                  <picture>
                    <source media="(max-width: 991px)" srcset="../assets/images/about-commitment-mobile.png">
                    <img class="img-fluid rounded-3 about-commitment-img"
                      src="../assets/images/about-commitment-desk.png" alt="職旅團隊承諾">
                  </picture>
                </div>

              </div>

            </div>
          </section>
          <section class="py-9 py-lg-12 bg-neutral about-company">
            <div class="container position-relative z-2">
              <h2 class="h2 text-center">公司資訊</h2>

              <div class="shadow rounded-4 position-relative bg-light p-6 p-lg-9 mt-6 mt-lg-9">
                <ul class="d-flex flex-column about-table">
                  <li class="text-md d-flex align-items-start border-bottom">
                    <h4 class="fw-bold text-md text-slate p-4 p-lg-6 about-table-head">公司位置</h4>
                    <p class="fw-normal p-4 ps-0 p-lg-6 about-table-body">110台北市信義區信義路五段7號</p>
                  </li>
                  <li class="text-md d-flex align-items-start border-bottom">
                    <h4 class="fw-bold text-md text-slate p-4 p-lg-6 about-table-head">負責人</h4>
                    <p class="fw-normal p-4 ps-0 p-lg-6 about-table-body">張世明</p>
                  </li>
                  <li class="text-md d-flex align-items-start border-bottom">
                    <h4 class="fw-bold text-md text-slate p-4 p-lg-6 about-table-head">聯絡專線</h4>
                    <p class="fw-normal p-4 ps-0 p-lg-6 about-table-body">02-2758-6600</p>
                  </li>
                  <li class="text-md d-flex align-items-start border-bottom">
                    <h4 class="fw-bold text-md text-slate p-4 p-lg-6 about-table-head">營業時間</h4>
                    <p class="fw-normal p-4 ps-0 p-lg-6 about-table-body">週一至週五 10:00～18:00（國定假日休息）</p>
                  </li>
                  <li class="text-md d-flex align-items-start border-bottom">
                    <h4 class="fw-bold text-md text-slate p-4 p-lg-6 about-table-head">電子郵件</h4>
                    <p class="fw-normal p-4 ps-0 p-lg-6 about-table-body">contact@workway.tw</p>
                  </li>
                  <li class="text-md d-flex align-items-start border-bottom">
                    <h4 class="fw-bold text-md text-slate p-4 p-lg-6 about-table-head">成立時間</h4>
                    <p class="fw-normal p-4 ps-0 p-lg-6 about-table-body">2023 年 6 月</p>
                  </li>
                  <li class="text-md d-flex align-items-start border-bottom">
                    <h4 class="fw-bold text-md text-slate p-4 p-lg-6 about-table-head">統一編號</h4>
                    <p class="fw-normal p-4 ps-0 p-lg-6 about-table-body">83149276</p>
                  </li>
                </ul>

                <div class="mt-6 mt-lg-9">
                  <iframe class="about-company-map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.0027471433004!2d121.56196397711099!3d25.033980838289086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abb6da9c9e1f%3A0x1206bcf082fd10a6!2zVGFpcGVpIDEwMSwgTm8uIDfkv6Hnvqnot6_kupTmrrXkv6HnvqnljYDlj7DljJfluIIxMTA!5e0!3m2!1szh-TW!2stw!4v1753069599822!5m2!1szh-TW!2stw"
                    loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
          </section>
      </main>

      <%- include('./layout/cta'); -%>

        <%- include('./layout/footer'); -%>

          <%- include('./layout/modal'); -%>

            <script type="module" src="../main.js"></script>
  </body>

</html>