<!DOCTYPE html>
<html lang="zh-Hant-TW">

<%- include('./layout/head', { title: '首頁 | 職旅' , description: '自由工作很美，也很難。我們用 1 對 1 陪伴，陪你從第一步開始，直到夢想變成日常' }) %>

  <body>
    <%- include('./layout/navbar', {isLogin: false}); %>

      <main class="index">
        <section class="py-9 py-lg-12 index-banner">

          <div class="container-fluid px-3 px-md-6">
            <div class="index-banner__head">
              <h1 class="display text-center" data-aos="fade-up">
                一起陪伴、探索<br />還有你那些未完成的夢</h1>
              <div
                class="d-flex justify-content-between gap-4 gap-md-6 mt-6 flex-column flex-md-row align-items-center">
                <p class="text-lg text-slate text-center text-md-start" data-aos="fade-right">自由工作很美，也很難。<br />我們用 1 對 1
                  陪伴，陪你從第一步開始，直到夢想變成日常
                </p>
                <a href="#" class="btn btn-lg">
                  開始你的職旅
                  <span class="material-symbols-outlined">
                    chevron_right
                  </span>
                </a>
              </div>
              <picture>
                <source media="(max-width: 390px)" srcset="../assets/images/index-banner-decora-mobile.png">
                <img class="index-banner__decora" src="../assets/images/index-banner-decora.png" alt="首頁 banner 裝飾背景">
              </picture>
            </div>
            <div class="row mt-8">
              <div class="col-md-4 d-none d-md-block"><img class="w-100" src="../assets/images/index-banner-pic1.jpg"
                  alt="首頁 banner 圖片 1" data-aos="flip-right" data-aos-delay="200"></div>
              <div class="col-md-4 d-none d-md-block"><img class="w-100" src="../assets/images/index-banner-pic2.jpg"
                  alt="首頁 banner 圖片 2" data-aos="flip-up" data-aos-delay="300"></div>
              <div class="col-md-4"><img class="w-100" src="../assets/images/index-banner-pic3.jpg" alt="首頁 banner 圖片 3"
                  data-aos="flip-left" data-aos-delay="400"></div>
            </div>
          </div>
        </section>

        <section class="py-9 py-lg-12 index-story">
          <div class="container z-2 position-relative">
            <div class=" row align-items-center index-story-row">
              <div class="col-lg-4">
                <img class="index-story__logo" src="../assets/images/logo-text.png" alt="logo">
                <h2 class="h1 mt-4 mt-lg-6">他們已經踏上職旅<br />聽聽他們的故事</h2>
                <p class="text-lg text-slate mt-4 mt-lg-6">每一段職涯轉型都有獨特挑戰，這些曾經與你有相同疑惑的夥伴，現在正過著他們嚮往的生活</p>
              </div>
              <div class="col-lg-8 mt-6 mt-lg-0">
                <div class="cards-container">
                  <ul class="d-flex gap-4 gap-lg-6 py-3 index-story__list">
                    <li class="shadow rounded-4 bg-light position-relative index-story__item">
                      <div class="index-story__card">
                        <div class="index-story__card__head rounded-top-4">
                          <img src="../assets/images/index-story-pic1.jpg" alt="轉型成功的設計師">
                          <span class="index-story__card__tag bg-primary text-md text-light fw-medium rounded-3">數位遊牧 2
                            年</span>
                        </div>
                        <div class="p-4 pb-6">
                          <h3 class="h4">轉型成功的設計師</h3>
                          <p class="text-sm text-slate mt-4 index-story__card__description">
                            從企業設計師轉職自由接案，比我想的難太多。收入不穩時我幾乎想放棄，是職旅顧問幫我找回方向與差異化。半年後，我不僅維持收入，還能自由挑案，最重要的是，我終於有時間陪爸媽。</p>
                          <div class="d-flex align-items-center mt-4">
                            <h4 class="text-md me-2">視覺設計師</h4>
                            <p class="text-sm border-start ps-2">郭敏迪 (34y)</p>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="shadow rounded-4 bg-light position-relative index-story__item">
                      <div class="index-story__card">
                        <div class="index-story__card__head rounded-top-4">
                          <img src="../assets/images/index-story-pic2.jpg" alt="數位遊牧生活實踐者">
                          <span class="index-story__card__tag bg-primary text-md text-light fw-medium rounded-3">數位遊牧 2
                            年</span>
                        </div>
                        <div class="p-4 pb-6">
                          <h3 class="h4">數位遊牧生活實踐者</h3>
                          <p class="text-sm text-slate mt-4 index-story__card__description">
                            兩年前我只想環遊世界，卻不知道怎麼開始。職旅給了我遠端工作與生活規劃的指導。現在我在五個國家工作過，收入比以前多 20%。每次打開電腦，看見窗外不同的風景，都慶幸當初那一個決定。
                          </p>
                          <div class="d-flex align-items-center mt-4">
                            <h4 class="text-md me-2">內容策略師</h4>
                            <p class="text-sm border-start ps-2">林雨潔 (29y)</p>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="shadow rounded-4 bg-light position-relative index-story__item">
                      <div class="index-story__card">
                        <div class="index-story__card__head rounded-top-4">
                          <img src="../assets/images/index-story-pic3.jpg" alt="中年轉型的工程師">
                        </div>
                        <div class="p-4 pb-6">
                          <h3 class="h4">中年轉型的工程師</h3>
                          <p class="text-sm text-slate mt-4 index-story__card__description">
                            59 歲被裁員時，我以為職涯結束了。職旅顧問不只幫我轉職，更讓我相信自己還有價值。現在我每月穩定接案、收入翻倍。年齡不是限制，只是我還沒找到對的方向。</p>
                          <div class="d-flex align-items-center mt-4">
                            <h4 class="text-md me-2">系統架構顧問</h4>
                            <p class="text-sm border-start ps-2">張世明 (62y)</p>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </section>

        <section class="py-9 py-lg-12 bg-neutral index-whychoose">
          <div class="container">
            <div class="text-center" data-aos="fade-up">
              <span class="rounded-3 d-inline-block index-whychoose__tooltip">
                <span class="h5 text-primary rounded-3 index-whychoose__tooltip__text">為什麼？</span>
              </span>
              <h2 class="h1 mt-4">選擇職旅 WorkWay</h2>
            </div>

            <ul class="row mt-6 mt-lg-9 index-whychoose__list">
              <li class="col-md-4 mb-4 mb-md-0" data-aos="fade-right">
                <div class="index-whychoose__item">
                  <img class="index-whychoose__pic" src="../assets/images/index-whychoose-pic1.jpg"
                    alt="選擇職旅 WorkWay 圖片一">
                  <div class="d-flex align-items-center gap-2 bg-neutral index-whychoose__tag">
                    <span class="material-symbols-outlined text-primary">
                      ads_click
                    </span>
                    <h4 class="h4 text-slate">實戰經驗</h4>
                  </div>
                  <div class="index-whychoose__description p-6 d-flex justify-content-center align-items-center">
                    <p class="text-md text-light text-center">
                      我們的顧問都是親身走過這條路的專家，不是紙上談兵的理論家。你所學到的每一個建議，都是經過無數次嘗試與錯誤後萃取的精華。</p>
                  </div>
                </div>
              </li>
              <li class="col-md-4 mb-4 mb-md-0">
                <div class="index-whychoose__item" data-aos="fade-up" data-aos-delay="150">
                  <img class="index-whychoose__pic" src="../assets/images/index-whychoose-pic2.jpg"
                    alt="選擇職旅 WorkWay 圖片二">
                  <div class="d-flex align-items-center gap-2 bg-neutral index-whychoose__tag">
                    <span class="material-symbols-outlined text-primary">
                      ads_click
                    </span>
                    <h4 class="h4 text-slate">全方位支持</h4>
                  </div>
                  <div class="index-whychoose__description p-6 d-flex justify-content-center align-items-center">
                    <p class="text-md text-light text-center">
                      從心態調整到實際操作，從品牌建立到財務規劃，我們提供你轉型路上需要的每一塊拼圖，讓不確定感不再阻礙你的決定。</p>
                  </div>
                </div>
              </li>
              <li class="col-md-4" data-aos="fade-left" data-aos-delay="300">
                <div class="index-whychoose__item">
                  <img class="index-whychoose__pic" src="../assets/images/index-whychoose-pic3.jpg"
                    alt="選擇職旅 WorkWay 圖片三">
                  <div class="d-flex align-items-center gap-2 bg-neutral index-whychoose__tag">
                    <span class="material-symbols-outlined text-primary">
                      ads_click
                    </span>
                    <h4 class="h4 text-slate">社群力量</h4>
                  </div>
                  <div class="index-whychoose__description p-6 d-flex justify-content-center align-items-center">
                    <p class="text-md text-light text-center">
                      加入職旅不只是獲得諮詢，更是連結到一群志同道合的夥伴。在這裡，你的疑惑有人解答，你的成就有人分享，你的旅程不再孤單。</p>
                  </div>
                </div>
              </li>
            </ul>

            <div class="d-flex align-items-center gap-6 mt-6 mt-lg-9 index-whychoose__footer">
              <p class="text-md text-slate">不是套模板的建議，而是為你量身打造的陪伴！</p>
            </div>
          </div>
        </section>

        <section class="py-9 py-lg-12 index-partner">
          <span class="index-partner__decora">
            <img src="../assets/images/index-partner-decora.png" alt="區塊裝飾">
          </span>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <img class="index-partner__pic rounded-3" src="../assets/images/index-partner-pic1.jpg" alt="遇見你的職涯夥伴"
                  data-aos="flip-left">
              </div>
              <div class="col-md-6">
                <div class="px-0 px-lg-3" data-aos="fade-left" data-aos-delay="200">
                  <h2 class="h1 text-center text-md-start mt-6 mt-lg-0">遇見你的職涯夥伴</h2>
                  <p class="text-lg text-slate mt-4 mt-lg-6">每位顧問都有獨特專長，更重要的是：</p>
                  <h3 class="h4 text-primary p-2 p-md-1 p-lg-2 mt-4 mt-lg-6 index-partner__subtitle">“
                    他們都曾面對你正在經歷的挑戰 ”
                  </h3>
                  <p class="text-lg text-slate mt-4 mt-lg-6">職旅 WorkWay
                    匯集了來自不同領域、擁有豐富實戰經驗的自由工作者與數位遊牧專家。我們的顧問不只教授理論，更分享親身經歷的挑戰與解決之道。</p>
                  <p class="text-lg text-slate mt-4 mt-lg-6">我們相信，最好的指導來自於那些已經走過你想走的路，並願意伸出手拉你一把的人。</p>
                  <div class="mt-4 mt-lg-6 text-center text-lg-start">
                    <a href="#" class="btn btn-md">
                      了解更多職旅夥伴
                      <span class="material-symbols-outlined">
                        chevron_right
                      </span>
                    </a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="py-9 py-lg-12 bg-primary index-services">
          <div class="text-center" data-aos="fade-up">
            <h2 class="h1 text-light">服務流程</h2>
            <p class="text-lg text-light mt-4 mt-lg-6">簡單四步，踏上你的職旅</p>
          </div>
          <div class="container">
            <ul class="d-flex gap-4 gap-lg-6 mt-6 mt-lg-9 index-services__list">
              <li class="index-services__item" data-aos="fade-right">
                <div class="rounded-3 bg-light px-4 px-lg-6 py-9 index-services__step">
                  <div class="font-en fw-bold text-primary text-sm index-services__step__number">
                    STEP
                    <span class="text-lg">1</span>
                  </div>

                  <div class="text-center">
                    <img class="mt-4" src="../assets/images/index-services-step1.png" alt="免費註冊會員">
                    <h3 class="h4 mt-4 mt-lg-6">免費註冊會員</h3>
                    <p class="text-sm text-slate mt-4 mt-lg-6">透過網站左上角按鈕，立即註冊免費會員，與我們開始建立連結。</p>
                  </div>
                </div>
              </li>
              <li class="index-services__item" data-aos="fade-right" data-aos-delay="150">
                <div class="rounded-3 bg-light px-4 px-lg-6 py-9 index-services__step">
                  <div class="font-en fw-bold text-primary text-sm index-services__step__number">
                    STEP
                    <span class="text-lg">2</span>
                  </div>
                  <div class="text-center">
                    <img class="mt-4" src="../assets/images/index-services-step2.png" alt="填寫職旅計劃">
                    <h3 class="h4 mt-4 mt-lg-6">填寫職旅計劃</h3>
                    <p class="text-sm text-slate mt-4 mt-lg-6">了解你的技能、熱情與市場需求的交會點，找出屬於你的獨特定位。</p>
                  </div>
                </div>
              </li>
              <li class="index-services__item" data-aos="fade-right" data-aos-delay="300">
                <div class="rounded-3 bg-light px-4 px-lg-6 py-9 index-services__step">
                  <div class="font-en fw-bold text-primary text-sm index-services__step__number">
                    STEP
                    <span class="text-lg">3</span>
                  </div>
                  <div class="text-center">
                    <img class="mt-4" src="../assets/images/index-services-step3.png" alt="初次諮詢">
                    <h3 class="h4 mt-4 mt-lg-6">初次諮詢</h3>
                    <p class="text-sm text-slate mt-4 mt-lg-6">依據你的目標與現況，給予最直接的建議，建立清晰的轉型思路。</p>
                  </div>
                </div>
              </li>
              <li class="index-services__item" data-aos="fade-right" data-aos-delay="450">
                <div class="rounded-3 bg-light px-4 px-lg-6 py-9 index-services__step">
                  <div class="font-en fw-bold text-primary text-sm index-services__step__number">
                    STEP
                    <span class="text-lg">4</span>
                  </div>
                  <div class="text-center">
                    <img class="mt-4" src="../assets/images/index-services-step4.png" alt="實戰指導">
                    <h3 class="h4 mt-4 mt-lg-6">實戰指導</h3>
                    <p class="text-sm text-slate mt-4 mt-lg-6">專家一對一指導，從品牌建立到客戶開發，每一步都有明確方向。</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </section>

        <section class="py-9 py-lg-12 index-qa">
          <div class="container">
            <div class="text-center" data-aos="fade-up">
              <span class="rounded-3 d-inline-block index-qa__tooltip">
                <span class="h5 text-primary rounded-3 index-qa__tooltip__text">\ Q&A /</span>
              </span>
              <h2 class="h1 mt-4">你可能有些困惑...</h2>
            </div>

            <div class="mt-6 mt-lg-9 index-qa__content">
              <div class="row align-items-end">
                <div class="col-md-5 d-none d-md-block">
                  <div class="index-qa__decora">
                    <img src="../assets/images/index-qa-pic.png" alt="區塊裝飾" data-aos="fade-right">
                  </div>
                </div>
                <div class="col-md-7">
                  <ul class="index-qa__list">
                    <li class="rounded-2 border shadow bg-light mt-4 mt-lg-6 index-qa__item" data-aos="fade-up"
                      data-aos-delay="100">
                      <div class="text-slate d-flex align-items-start gap-2 p-6 pe-4 index-qa__item__head collapsed"
                        data-bs-toggle="collapse" href="#qa1">
                        <span class="h5">
                          Q.
                        </span>
                        <h3 class="text-lg me-auto">一對一諮詢是怎麼進行的？需要準備什麼嗎？</h3>
                        <span class="material-symbols-outlined index-qa__item__icon">
                          chevron_left
                        </span>
                      </div>
                      <div class="collapse " id="qa1">
                        <div class="p-6 pt-4 d-flex align-items-start gap-2 index-qa__item__body">
                          <span class="text-primary h5">A.</span>
                          <p class="text-sm">諮詢通常採 Google Meet 或 Zoom，時長約 30
                            分鐘。我們建議你在預約前先簡單整理目前的狀態、遇到的困難、或想達成的目標。如果你不確定，顧問也會從對話中引導你探索，無需擔心準備不夠。</p>
                        </div>
                      </div>
                    </li>
                    <li class="rounded-2 border shadow bg-light mt-4 mt-lg-6 index-qa__item" data-aos="fade-up"
                      data-aos-delay="200">
                      <div class="text-slate d-flex align-items-start gap-2 p-6 pe-4 index-qa__item__head collapsed"
                        data-bs-toggle="collapse" href="#qa2">
                        <span class="h5">
                          Q.
                        </span>
                        <h3 class="text-lg me-auto">自由職涯真的可以養活自己嗎？你們怎麼協助？</h3>
                        <span class="material-symbols-outlined index-qa__item__icon">
                          chevron_left
                        </span>
                      </div>
                      <div class="collapse " id="qa2">
                        <div class="p-6 pt-4 d-flex align-items-start gap-2 index-qa__item__body">
                          <span class="text-primary h5">A.</span>
                          <p class="text-sm">諮詢通常採 Google Meet 或 Zoom，時長約 30
                            分鐘。我們建議你在預約前先簡單整理目前的狀態、遇到的困難、或想達成的目標。如果你不確定，顧問也會從對話中引導你探索，無需擔心準備不夠。</p>
                        </div>
                      </div>
                    </li>
                    <li class="rounded-2 border shadow bg-light mt-4 mt-lg-6 index-qa__item" data-aos="fade-up"
                      data-aos-delay="300">
                      <div class="text-slate d-flex align-items-start gap-2 p-6 pe-4 index-qa__item__head collapsed"
                        data-bs-toggle="collapse" href="#qa3">
                        <span class="h5">
                          Q.
                        </span>
                        <h3 class="text-lg me-auto">職旅 WorkWay 的收費方式是怎麼計算的？</h3>
                        <span class="material-symbols-outlined index-qa__item__icon">
                          chevron_left
                        </span>
                      </div>
                      <div class="collapse " id="qa3">
                        <div class="p-6 pt-4 d-flex align-items-start gap-2 index-qa__item__body">
                          <span class="text-primary h5">A.</span>
                          <p class="text-sm">諮詢通常採 Google Meet 或 Zoom，時長約 30
                            分鐘。我們建議你在預約前先簡單整理目前的狀態、遇到的困難、或想達成的目標。如果你不確定，顧問也會從對話中引導你探索，無需擔心準備不夠。</p>
                        </div>
                      </div>
                    </li>
                    <li class="rounded-2 border shadow bg-light mt-4 mt-lg-6 index-qa__item" data-aos="fade-up"
                      data-aos-delay="400">
                      <div class="text-slate d-flex align-items-start gap-2 p-6 pe-4 index-qa__item__head collapsed"
                        data-bs-toggle="collapse" href="#qa4">
                        <span class="h5">
                          Q.
                        </span>
                        <h3 class="text-lg me-auto">如果諮詢後發現不適合，會有退款保障嗎？</h3>
                        <span class="material-symbols-outlined index-qa__item__icon">
                          chevron_left
                        </span>
                      </div>
                      <div class="collapse " id="qa4">
                        <div class="p-6 pt-4 d-flex align-items-start gap-2 index-qa__item__body">
                          <span class="text-primary h5">A.</span>
                          <p class="text-sm">諮詢通常採 Google Meet 或 Zoom，時長約 30
                            分鐘。我們建議你在預約前先簡單整理目前的狀態、遇到的困難、或想達成的目標。如果你不確定，顧問也會從對話中引導你探索，無需擔心準備不夠。</p>
                        </div>
                      </div>
                    </li>
                    <li class="rounded-2 border shadow bg-light mt-4 mt-lg-6 index-qa__item" data-aos="fade-up"
                      data-aos-delay="500">
                      <div class="text-slate d-flex align-items-start gap-2 p-6 pe-4 index-qa__item__head collapsed"
                        data-bs-toggle="collapse" href="#qa5">
                        <span class="h5">
                          Q.
                        </span>
                        <h3 class="text-lg me-auto">我現在還不確定自己要什麼，也可以預約諮詢嗎？</h3>
                        <span class="material-symbols-outlined index-qa__item__icon">
                          chevron_left
                        </span>
                      </div>
                      <div class="collapse " id="qa5">
                        <div class="p-6 pt-4 d-flex align-items-start gap-2 index-qa__item__body">
                          <span class="text-primary h5">A.</span>
                          <p class="text-sm">諮詢通常採 Google Meet 或 Zoom，時長約 30
                            分鐘。我們建議你在預約前先簡單整理目前的狀態、遇到的困難、或想達成的目標。如果你不確定，顧問也會從對話中引導你探索，無需擔心準備不夠。</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </section>

      </main>
      <%- include('./layout/cta'); -%>

        <%- include('./layout/footer'); -%>

          <%- include('./layout/modal'); -%>


            <script type="module" src="../main.js"></script>
  </body>

</html>