<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
</head>

<body>
  <%- include('./layout/navbar'); -%>

    <!-- <h1 class="index-title">我是首頁</h1>
      -->

    <main class="main" style="height: 100vh;  background-color: beige;">
      <h1 class="index-title">我是首頁</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat similique est ut, assumenda blanditiis deserunt
        porro ea accusamus, cupiditate sequi, atque adipisci nisi omnis. Obcaecati ipsum nihil veniam dolorum animi
        eveniet sunt pariatur enim error ad, commodi debitis suscipit eius placeat, non at unde corporis fugiat adipisci
        a perferendis aut?

      </p>
      <div>
        <button type="button" class="btn btn-default btn-primary">按鈕</button>
        <button type="button" class="btn btn-default btn-secondary">按鈕</button>
        <button type="button" class="btn btn-small btn-primary">按鈕</button>
        <button type="button" class="btn btn-small btn-secondary">按鈕</button>
      </div>


    </main>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />



    <%- include('./layout/footer'); -%>
      <%- include('./layout/script'); -%>

        <script type="module" src="../main.js"></script>
</body>

</html>