<div class="cta py-8">
  <div class="container">
    <div class="rounded-3 bg-primary py-4 px-6 py-lg-6 px-lg-9">
      <div class="cta-head">
        <img src="../assets/images/cta-logo.png" alt="logo" class="cta-logo">
        <h2 class="text-light mt-6">邁向你真正想過的生活，從這裡開始</h2>
        <p class="text-lg text-light mt-3">第一次諮詢只要 30 分鐘，可能改變你未來 30 年的生活方式</p>
      </div>
      <div class="d-flex justify-content-between align-items-start flex-column flex-md-row mt-4 mt-lg-6">
        <div class="d-md-flex d-block align-items-center gap-6 gap-md-4 flex-column flex-md-row">
          <a href="tel:+886-800123123" class="d-flex align-items-center gap-2 text-light">
            <span class="material-symbols-outlined cta-icon">
              call
            </span>
            <span class="h5 fw-normal font-en">0800-123-123</span> 
          </a>
          <a href="mailto:Sample@mail.com" class="d-flex align-items-center gap-2 mt-4 mt-md-0 text-light">
            <span class="material-symbols-outlined cta-icon">
              mail
            </span>
            <span class="h5 fw-normal font-en">Sample@mail.com</span>
          </a>
        </div>
        <a href="#" class="btn btn-md mt-6 mt-md-0">
          預約免費職涯探索
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </a>
      </div>
      
    </div>
  </div>
</div>