<div class="page-banner">
  <span class="page-banner-decora-line">
    <img src="../assets/images/page-banner-2.png" alt="背景裝飾圖線條">
  </span>
  <span class="page-banner-decora-shape">
    <img src="../assets/images/page-banner-3.png" alt="背景裝飾圖形">
  </span>
  <div class="page-banner-content py-9 py-lg-12 px-3">
    <h1>
      <%= title %>
    </h1>
    <p class="mt-6 mt-lg-9 text-lg text-slate">
      <%= description %>
    </p>
    <% if(subDescriptionShow) { %>
      <p class="text-lg text-slate">
        <%= subDescription %>
      </p>
      <% } %>

        <span class="page-banner-decora-women">
          <img src="../assets/images/page-banner-1.png" alt="背景裝飾圖女性">
        </span>
  </div>
</div>