.card {
	position: relative;

	&__image {
		transition: opacity 0.3s ease;
		position: relative;
		z-index: 1;
	}

	&:hover .card__image {
		opacity: 0.8;
	}

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
	}

	&__title {
		margin-top: $spacing-s;
	}

	&__price {
		margin-top: $spacing-xxs;
	}

	&__tag {
		background-color: $primary100;
		display: inline-block;
		padding: $spacing-xs $spacing-s;
		font-size: 14px;
		color: $primary400;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 4;
	}
}

@include mobile-larger {
	.card {
		&__title {
			margin-top: $spacing-xs;
		}

		&__price {
			margin-top: 0;
		}
	}
}
