<footer class="footer bg-black">
  <div class="container">
    <div class="d-block d-md-flex justify-content-between align-items-center">
      <div class="mb-9 mb-md-0">
        <a href="index.html" class="mb-9 mb-md-7"><img src="../assets/images/logo-footer.png" alt="ZOBAA 旅遊"></a>
        <nav class="d-flex gap-4 gap-md-2 gap-lg-7  flex-column flex-md-row">
          <a href="#" class="text-white">常見問題</a>
          <a href="#" class="text-white">關於我們</a>
          <a href="#" class="text-white">隱私權政策</a>
          <a href="#" class="text-white">使用者條款</a>
        </nav>
      </div>
      <div>
        <ul class="d-flex justify-content-start justify-content-md-end gap-4 mb-4">
          <li><a href="#" class="footer-social-item">
              <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M18 7.0263C18 3.152 13.9625 0 9 0C4.0377 0 0 3.152 0 7.0263C0 10.4994 3.2019 13.4086 7.527 13.9589C7.8199 14.0196 8.2188 14.1451 8.3198 14.386C8.4106 14.6047 8.3793 14.9474 8.3488 15.1685C8.3488 15.1685 8.2436 15.7796 8.2204 15.91C8.1814 16.1288 8.0395 16.7659 9 16.3767C9.9608 15.9874 14.1828 13.4404 16.071 11.3494C17.3754 9.9736 18 8.577 18 7.0263ZM3.4146 9.1339C3.1861 9.1339 3 8.9408 3 8.703V5.4397C3 5.2022 3.2116 5.0089 3.48 5.0089C3.7484 5.0089 3.9 5.2006 3.9 5.4397V8.2724H4.9854C5.2143 8.2724 5.4 8.4657 5.4 8.703C5.4 8.9408 5.2143 9.1339 4.9854 9.1339H3.4146ZM7.2 8.703C7.2 8.9408 6.9981 9.1339 6.7501 9.1339C6.5019 9.1339 6.3 8.9408 6.3 8.703V5.4397C6.3 5.2022 6.5019 5.0089 6.7501 5.0089C6.9981 5.0089 7.2 5.2022 7.2 5.4397V8.703ZM11.7 8.703C11.7 8.889 11.5717 9.0532 11.3797 9.1116C11.3316 9.1265 11.2813 9.1339 11.2309 9.1339C11.0849 9.1339 10.9449 9.0696 10.8566 8.9616L9.0372 6.6842V8.703C9.0372 8.9408 8.8272 9.1339 8.5687 9.1339C8.3103 9.1339 8.1 8.9408 8.1 8.703V5.4397C8.1 5.2541 8.2288 5.0899 8.4203 5.0312C8.4686 5.0162 8.5187 5.0089 8.5691 5.0089C8.7153 5.0089 8.8554 5.0731 8.9431 5.1812L10.7631 7.4587V5.4397C10.7631 5.2022 10.9735 5.0089 11.2316 5.0089C11.4902 5.0089 11.7 5.2022 11.7 5.4397V8.703ZM14.5853 6.6407C14.8142 6.6407 15 6.8339 15 7.0715C15 7.3088 14.8142 7.502 14.5853 7.502H13.4294V8.2724H14.5853C14.8138 8.2724 15 8.4657 15 8.703C15 8.9408 14.8138 9.1339 14.5853 9.1339H13.0145C12.7863 9.1339 12.6 8.9408 12.6 8.703V7.0726V7.0715V5.4397C12.6 5.2022 12.7859 5.0089 13.0145 5.0089H14.5853C14.8142 5.0089 15 5.2022 15 5.4397C15 5.6772 14.8142 5.8702 14.5853 5.8702H13.4294V6.6407H14.5853Z"
                  fill="white" />
              </svg>
            </a></li>
          <li><a href="#" class="footer-social-item">
              <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M10 -0.00537109C10.855 -0.00537109 11.732 0.016629 12.582 0.052629L13.586 0.100629L14.547 0.157629L15.447 0.218629L16.269 0.282629C17.161 0.350907 18.0004 0.731576 18.6395 1.35767C19.2786 1.98376 19.6764 2.81517 19.763 3.70563L19.803 4.13063L19.878 5.04063C19.948 5.98363 20 7.01163 20 7.99463C20 8.97763 19.948 10.0056 19.878 10.9486L19.803 11.8586C19.79 12.0046 19.777 12.1456 19.763 12.2836C19.6764 13.1742 19.2784 14.0058 18.6391 14.6319C17.9999 15.258 17.1602 15.6386 16.268 15.7066L15.448 15.7696L14.548 15.8316L13.586 15.8886L12.582 15.9366C11.732 15.9726 10.855 15.9946 10 15.9946C9.145 15.9946 8.268 15.9726 7.418 15.9366L6.414 15.8886L5.453 15.8316L4.553 15.7696L3.731 15.7066C2.83895 15.6384 1.99955 15.2577 1.36047 14.6316C0.721394 14.0055 0.323574 13.1741 0.237 12.2836L0.197 11.8586L0.122 10.9486C0.0455376 9.96577 0.00484402 8.98045 0 7.99463C0 7.01163 0.052 5.98363 0.122 5.04063L0.197 4.13063C0.21 3.98463 0.223 3.84363 0.237 3.70563C0.323541 2.81533 0.721217 1.98404 1.36009 1.35797C1.99897 0.7319 2.83813 0.351131 3.73 0.282629L4.551 0.218629L5.451 0.157629L6.413 0.100629L7.417 0.052629C8.268 0.016629 9.145 -0.00537109 10 -0.00537109ZM8 5.56963V10.4196C8 10.8816 8.5 11.1696 8.9 10.9396L13.1 8.51463C13.1914 8.46202 13.2673 8.38625 13.3201 8.29496C13.3729 8.20367 13.4007 8.10008 13.4007 7.99463C13.4007 7.88918 13.3729 7.78559 13.3201 7.69429C13.2673 7.603 13.1914 7.52724 13.1 7.47463L8.9 5.05063C8.80876 4.99795 8.70526 4.97023 8.5999 4.97024C8.49455 4.97026 8.39106 4.99802 8.29983 5.05072C8.20861 5.10343 8.13287 5.17923 8.08024 5.27049C8.02761 5.36176 7.99993 5.46527 8 5.57063V5.56963Z"
                  fill="white" />
              </svg>
            </a></li>
          <li><a href="#" class="footer-social-item">
              <svg width="9" height="17" viewBox="0 0 9 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M5.5983 8.9736H8.1413L8.5219 6.0404H5.5983V4.1677C5.5983 3.3184 5.8357 2.7397 7.0615 2.7397L8.625 2.739V0.1156C8.3545 0.0798996 7.4265 0 6.3467 0C4.0926 0 2.5494 1.3669 2.5494 3.8773V6.0404H0V8.9736H2.5494V16.5H5.5983V8.9736Z"
                  fill="white" />
              </svg>
            </a></li>
        </ul>
        <p class="font-sm text-white text-start text-md-end">copyright © 2025 ZOBAA 旅遊網站 All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>