.index {
	&-banner {
		&__head {
			width: 815px;
			margin: 0 auto;
			max-width: 100%;
			position: relative;
		}

		&__decora {
			position: absolute;
			top: -40px;
			left: 0;
			right: 0;
			margin: 0 auto;
			z-index: -1;
			@include media-breakpoint-down(md) {
				max-width: calc(100% + 24px);
				left: -12px;
			}
		}
	}

	&-story {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 22.4%;
			background-color: $natural-95;
			z-index: 0;
		}

		&__logo {
			width: 96px;
			@include media-breakpoint-down(md) {
				width: 48px;
			}
		}

		&-row {
			margin-right: calc(-50vw + 50% + 24px);
		}

		.cards-container {
			margin: 0;
		}

		&__item {
			flex: 0 0 400px;
			white-space: normal;
			&:hover .index-story__card__head img {
				transform: scale(1.05);
			}

			@include media-breakpoint-down(sm) {
				flex: 0 0 320px;
			}
		}

		&__card {
			&__head {
				position: relative;
				overflow: hidden;
			}

			&__head::after {
				content: "";
				position: absolute;
				bottom: 0;
				right: 0;

				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 0 40px 40px;
				border-color: transparent transparent $light;
			}

			&__head img {
				transition: transform 0.3s ease;
			}

			&__tag {
				display: inline-block;
				position: absolute;
				top: 12px;
				left: 12px;
				z-index: 1;
				padding: 8px 16px;
			}

			&__description {
				min-height: 84px;
				@include media-breakpoint-down(sm) {
					min-height: 80px;
				}
			}
		}
	}

	&-whychoose {
		&__tooltip {
			position: relative;
			border: solid 2px $primary;

			&__text {
				position: relative;
				background-color: $light;
				padding: 12px 18px;
				display: block;
				z-index: 3;
			}

			&::before {
				content: "";
				position: absolute;
				bottom: -7px;
				left: 0;
				right: 0;
				margin: auto;
				transform: rotate(45deg);
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 0 24px 24px;
				border-color: transparent transparent $light;
				z-index: 2;
			}

			&::after {
				content: "";
				position: absolute;
				bottom: -9px;
				left: 0;
				right: 0;
				margin: auto;
				transform: rotate(45deg);
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 0 28px 28px;
				border-color: transparent transparent $primary;
				z-index: 1;
			}
		}

		&__item {
			position: relative;
			border-radius: $border-radius-xl;
			min-height: 316px;

			&:hover .index-whychoose__description {
				opacity: 1;
			}
		}

		&__pic {
			border-radius: $border-radius-xl;
			width: 100%;
			height: 316px;
			object-fit: cover;
		}

		&__tag {
			position: absolute;
			bottom: 0;
			left: -1px;
			z-index: 1;
			padding: 12px 24px 12px 13px;
			border-top-right-radius: $border-radius-lg;
			border-bottom-left-radius: $border-radius-xl;
		}

		&__description {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			border-radius: $border-radius-xl;
			transition: opacity 0.5s ease;
			@include media-breakpoint-down(md) {
				opacity: 1;
			}
		}

		&__footer {
			&::after {
				content: "";
				flex: 1;
				height: 1px;
				background-color: $natural-85;
			}
		}
	}

	&-partner {
		position: relative;
		overflow: hidden;

		&__decora {
			position: absolute;
			bottom: 0px;
			right: 0px;
			z-index: -1;
			@include media-breakpoint-down(lg) {
				width: 315px;
			}
		}

		&__pic {
			height: 480px;
			object-fit: cover;
			@include media-breakpoint-down(xl) {
				height: auto;
			}
		}
		&__subtitle {
			background-color: $natural-95;
			display: inline-block;
			@include media-breakpoint-down(md) {
				display: block;
				text-align: center;
			}
		}
	}

	&-services {
		&__list {
			overflow-x: auto;
			padding-bottom: 8px; // 在捲軸下方留空間
			margin-bottom: -8px; // 抵消 padding
		}

		&__item {
			flex: 0 0 306px;
		}

		&__step {
			position: relative;

			&__number {
				position: absolute;
				top: 0;
				left: 0;
				background-color: $natural-95;
				padding: 10px 16px;
				border-top-left-radius: $border-radius-lg;
				border-bottom-right-radius: $border-radius-lg;
			}
		}
	}

	&-qa {
		background-image: url("../images/index-qa-bg.png");
		background-repeat: repeat;

		&__tooltip {
			position: relative;
			border: solid 2px $primary;

			&__text {
				position: relative;
				background-color: $light;
				padding: 12px 18px;
				display: block;
				z-index: 3;
			}

			&::before {
				content: "";
				position: absolute;
				bottom: -7px;
				left: 0;
				right: 0;
				margin: auto;
				transform: rotate(45deg);
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 0 24px 24px;
				border-color: transparent transparent $light;
				z-index: 2;
			}

			&::after {
				content: "";
				position: absolute;
				bottom: -9px;
				left: 0;
				right: 0;
				margin: auto;
				transform: rotate(45deg);
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 0 28px 28px;
				border-color: transparent transparent $primary;
				z-index: 1;
			}
		}

		&__content {
		}

		&__decora {
			width: 400px;
			@include media-breakpoint-down(lg) {
				width: 300px;
			}
		}

		&__item {
			&__head {
				cursor: pointer;
			}
			&__body {
				position: relative;
			}

			&__body::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				width: calc(100% - 48px);
				margin: auto;
				border-top: dashed 1px $natural-85;
			}

			&__icon {
				color: $primary;
				transform: rotate(-90deg);
				transition: all 0.3s ease;
			}

			.collapsed .index-qa__item__icon {
				color: $dark;
				transform: rotate(00deg);
			}
		}
	}
}
