.card-tour {
	&-collect {
		width: 56px;
		height: 56px;
		background-color: rgba(0, 0, 0, 0.4);
		border-top-right-radius: $border-radius-lg;
		border-bottom-left-radius: $border-radius-lg;
		border: none;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: background-color 0.3s;
	}
	&-collect:hover {
		background-color: rgba(0, 0, 0, 0.6);
	}

	&-head {
		width: 100%;
		height: 212px;
		overflow: hidden;
	}

	&-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: transform 0.3s;
	}

	&-title {
		transition: color 0.3s;
	}

	&:hover {
		.card-tour-img {
			transform: scale(1.1);
		}
		.card-tour-title {
			color: $primary;
		}
	}
}

.card-product {
	transition: box-shadow 0.3s;
	&-head {
		flex: 0 0 480px;
		height: 245px;
		@include media-breakpoint-down(xl) {
			flex: 1 1 auto;
		}
	}
	&-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&-title {
		transition: color 0.3s;
	}

	&-text {
		color: $neutral-80;
		transition: color 0.3s;
		@include media-breakpoint-down(lg) {
			font-size: 0.875rem;
		}
	}

	&:hover {
		.card-product-title {
			color: $primary;
		}
		.card-product-text {
			color: $primary-60;
		}
	}
}

.card-simple {
	&-head {
		height: 190px;
		&.index {
			height: 240px;
		}
	}

	&-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&-title {
		font-size: 1.25rem;
		@include media-breakpoint-down(lg) {
			font-size: 1rem;
		}
	}

	&-text {
		font-size: 1rem;
		@include media-breakpoint-down(lg) {
			font-size: 0.875rem;
		}
	}

	&:hover {
		box-shadow: $box-shadow;
	}
}
