.tabs-location {
	&-link {
		color: $neutral-80;
		transition: color 0.3s, font-weight 0.3s;
		width: 80px;

		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 32px;
			height: 4px;
			border-radius: 99em;
			background-color: transparent;
			transition: background-color 0.3s;
		}

		&:hover,
		&.active {
			color: $primary;
			font-weight: bold;

			&::after {
				background-color: $primary;
			}
		}
	}
}
