@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  letter-spacing: 1px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
}

main {
  padding: 64px 0;
}

.container {
  max-width: 856px;
  margin: 0 auto;
}

.header-hero {
  background-image: url("../images/brand-hero.jpg");
  background-size: cover;
  background-position: center;
  padding: 150px 12px;
  text-align: center;
}
.header-hero__title {
  font-size: 40px;
  color: white;
}
.header-hero__subtitle {
  font-size: 28px;
  color: white;
  margin-top: 16px;
}

.footer {
  background-color: #f8f9fa;
  padding: 64px 12px;
  text-align: center;
}
.footer__text {
  font-size: 14px;
  color: #6c757d;
}

.brand__content__title {
  font-size: 20px;
  color: #57a203;
}
.brand__section__title {
  font-size: 24px;
  color: #212529;
}
.brand__section {
  margin-top: 48px;
}
.brand__section::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #dee2e6;
  margin-top: 48px;
}
.brand-quote {
  padding: 32px;
  border-radius: 4px;
  text-align: center;
  background-color: #f5fee7;
}
.brand-quote__text {
  margin-top: 12px;
}
.brand-intro__image {
  width: calc(100% + 220px);
  max-width: none;
  margin: 0 -110px;
}
.brand-intro__content {
  margin-top: 24px;
}
.brand-intro__subtitle {
  margin-top: 24px;
}
.brand-intro__text {
  margin-top: 16px;
}
.brand-history__list {
  margin-top: 24px;
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 8px;
}
.brand-history__item {
  margin-top: 12px;
}
.brand-history__item:first-child {
  margin-top: 0;
}
.brand-history__item--border::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 24px;
  background-color: #212529;
  margin: -2px 8px 0px;
}
.brand-concept__list {
  margin-top: 24px;
}
.brand-concept__item {
  margin-top: 12px;
  padding-left: 9px;
  border-left: solid 3px #dee2e6;
}
.brand-concept__item:first-child {
  margin-top: 0;
}
.brand-story__list {
  margin-top: 24px;
}
.brand-story__link {
  display: inline-block;
  padding: 8px 0;
  color: #57a203;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.brand-story__link:hover {
  color: #3c7002;
}
.brand-story__icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}
.brand-story__text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
}
.brand-story__text::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #57a203;
  margin-top: 4px;
}