<header class="header">
  <div class="container">
    <nav class="header-navbar">
      <div class="header__main">
        <a href="index.html" class="header__logo">
          <img src="../assets/images/logo.png" alt="URBNSTEP Logo" >
        </a>
        <ul class="header__menu">
          <li class="header__menu__item">
            <a href="products.html" class="header__menu__link">商品列表</a>
          </li>
          <li class="header__menu__item">
            <a href="brand.html" class="header__menu__link">品牌故事</a>
          </li>
        </ul>
      </div>
      <a href="signin.html" class="header__user">
        <i class="bi bi-person header__user__icon"></i>
      </a>
    </nav>
  </div>
  <% if (mobileNavbarShow) { %>
    <nav class="header-navbar-mobile">
      <ul class="header-navbar-mobile__menu">
        <li class="header-navbar-mobile__item">
          <a href="products.html" class="header-navbar-mobile__link">商品列表</a>
        </li>
        <li class="header-navbar-mobile__item">
          <a href="brand.html" class="header-navbar-mobile__link">品牌故事</a>
        </li>
      </ul>
    </nav>
  <% } %>
</header>