<section class="promo">
  <div class="promo__content">
    <h4 class="promo__title">加入會員取得 9 折優惠</h4>
    <a class="btn btn__large btn__neutral promo__btn" href="signup.html">馬上註冊</a>
  </div>
</section>