*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: "Noto Sans TC", sans-serif;
	line-height: 1.5;
	letter-spacing: 1px;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: 1.2;
}

main {
	padding: 64px 0;
}

.container {
	max-width: 856px;
	margin: 0 auto;
}
