$primary100: #f5fee7;
$primary200: #e8fec5;
$primary300: #c0fa73;
$primary400: #57a203;
$primary500: #477a11;
$neutral0: #ffffff;
$neutral100: #f8f9fa;
$neutral200: #e9ecef;
$neutral300: #dee2e6;
$neutral400: #ced4da;
$neutral500: #adb5bd;
$neutral600: #6c757d;
$neutral700: #495057;
$neutral800: #343a40;
$neutral900: #212529;

$text-primary: $neutral900;
$text-secondary: $neutral600;
$text-highlight: $primary400;
