@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 1px;
}
@media (max-width: 992px) {
  body {
    letter-spacing: 0.8px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
  color: #212529;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

a {
  text-decoration: none;
}

.container-sm {
  max-width: 880px;
  margin: 0 auto;
  padding: 0 12px;
}
@media (max-width: 992px) {
  .container-sm {
    max-width: 720px;
  }
}

.container-xs {
  max-width: 660px;
  margin: 0 auto;
  padding: 0 12px;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

.mobile-show {
  display: none;
}
@media (max-width: 767px) {
  .mobile-show {
    display: block;
  }
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.breadcrumb__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6c757d;
}
.breadcrumb__link::after {
  content: "/";
  display: inline-block;
  color: #dee2e6;
  margin: 0 12px;
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
}
.breadcrumb__link:hover {
  color: #212529;
}

@media (max-width: 767px) {
  .breadcrumb__link::after {
    margin: 0 8px;
  }
}
.card {
  position: relative;
}
.card__image {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  position: relative;
  z-index: 1;
}
.card__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.card__title {
  margin-top: 12px;
}
.card__price {
  margin-top: 4px;
}
.card__tag {
  background-color: #f5fee7;
  display: inline-block;
  padding: 8px 12px;
  font-size: 14px;
  color: #57a203;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
.card__mask__image {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
}
.card__mask__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.card__mask__info {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: auto;
  text-align: center;
  z-index: 3;
}
.card__mask__title {
  font-size: 28px;
  color: white;
}
.card__mask__subtitle {
  font-size: 24px;
  color: white;
  margin-top: 8px;
}
.card:hover .card__image {
  opacity: 0.8;
}
.card:hover .card__mask__title {
  color: #c0fa73;
}

@media (max-width: 992px) {
  .card__mask__title {
    font-size: 16px;
  }
  .card__mask__subtitle {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .card__title {
    margin-top: 8px;
  }
  .card__price {
    margin-top: 0;
  }
}
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
}
@media (max-width: 767px) {
  .pagination {
    margin-top: 32px;
  }
}
.pagination__item {
  margin: 0 4px;
}
.pagination__item--prev {
  margin-right: 8px;
}
.pagination__item--next {
  margin-left: 8px;
}
.pagination__link {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #212529;
  text-align: center;
}
.pagination__link:hover {
  background-color: #f8f9fa;
}
.pagination__link--disabled {
  opacity: 0.6;
  pointer-events: none;
}
.pagination__link--selected {
  background-color: #c0fa73;
}

.btn {
  display: inline-block;
  border-radius: 4px;
}
.btn__large {
  padding: 12px 24px;
}
@media (max-width: 767px) {
  .btn__large {
    padding: 8px 16px;
  }
}
.btn__small {
  padding: 8px 16px;
}
.btn__primary {
  background-color: #c0fa73;
  color: #212529;
}
.btn__primary:hover {
  opacity: 0.8;
  color: #477a11;
}
.btn__primary:focus {
  opacity: 0.8;
  color: #477a11;
  -webkit-box-shadow: 0 0 3px #d6fca4;
          box-shadow: 0 0 3px #d6fca4;
}
.btn__neutral {
  background-color: #212529;
  color: white;
}
.btn__neutral:hover {
  opacity: 0.8;
}
.btn__neutral:focus {
  opacity: 0.8;
  -webkit-box-shadow: 0 0 3px #383f45;
          box-shadow: 0 0 3px #383f45;
}
.btn__outline {
  border: solid 1px #212529;
  color: #212529;
}
.btn__outline:hover {
  background-color: #212529;
  color: white;
}
.btn__outline:focus {
  -webkit-box-shadow: 0 0 3px #383f45;
          box-shadow: 0 0 3px #383f45;
}

.promo {
  background-color: #e8fec5;
}
.promo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 16px;
}
@media (max-width: 767px) {
  .promo__title {
    font-size: 20px;
  }
}
.promo__btn {
  margin-left: 24px;
}
@media (max-width: 767px) {
  .promo__btn {
    margin-left: 16px;
  }
}

.header-navbar {
  padding: 16px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  margin-right: 48px;
}
.header__menu__item {
  display: inline-block;
  margin-right: 40px;
}
.header__menu__link {
  font-weight: 500;
  color: #212529;
  padding: 12px 0px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.header__menu__link:hover {
  color: #6c757d;
}
.header__menu__link:focus {
  color: #212529;
  border-bottom: solid 2px #212529;
}
.header__user {
  padding: 9px 13.5px;
}
.header__user__icon {
  color: #212529;
  font-size: 20px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.header__user__icon:hover {
  color: #57a203;
}
.header-hero {
  background-image: url("../images/brand-hero.jpg");
  background-size: cover;
  background-position: center;
  padding: 150px 12px;
  text-align: center;
}
.header-hero__title {
  font-size: 40px;
  color: white;
}
.header-hero__subtitle {
  font-size: 28px;
  color: white;
  margin-top: 16px;
}
.header-navbar-mobile {
  display: none;
}

@media (max-width: 767px) {
  .header-navbar {
    padding: 12px 0px;
  }
  .header__logo {
    margin-right: 0;
  }
  .header__menu {
    display: none;
  }
  .header__user {
    padding: 15px;
  }
  .header-hero {
    background-image: url("../images/brand-hero-mobile.png");
    padding: 87px 12px;
    position: relative;
  }
  .header-hero__title, .header-hero__subtitle {
    position: relative;
    z-index: 5;
  }
  .header-hero__title {
    font-size: 28px;
  }
  .header-hero__subtitle {
    font-size: 20px;
  }
  .header-hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 0;
  }
  .header-navbar-mobile {
    display: block;
  }
  .header-navbar-mobile__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-navbar-mobile__item {
    width: 50%;
    text-align: center;
  }
  .header-navbar-mobile__item:nth-child(1) {
    background-color: #e8fec5;
  }
  .header-navbar-mobile__item:nth-child(2) {
    background-color: #f5fee7;
  }
  .header-navbar-mobile__link {
    display: block;
    padding: 12px;
    color: #212529;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  .header-navbar-mobile__link:hover {
    color: #57a203;
  }
}
.footer {
  background-color: #f8f9fa;
  padding: 64px 12px;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__menu__link {
  display: block;
  padding: 12px 0;
  color: #212529;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  margin-left: 40px;
}
.footer__menu__link:hover {
  color: #6c757d;
}
.footer__menu__link:focus {
  color: #212529;
  border-bottom: solid 2px #212529;
}
.footer__text {
  margin-top: 24px;
  border-top: solid 1px #dee2e6;
  padding-top: 32px;
  font-size: 14px;
  color: #6c757d;
  text-align: center;
}

@media (max-width: 767px) {
  .footer {
    padding: 32px 12px;
  }
  .footer__info {
    display: block;
  }
  .footer__menu {
    display: block;
    margin-top: 8px;
  }
  .footer__menu__link {
    padding: 12px 0;
    margin-left: 12px;
  }
  .footer__text {
    margin-top: 24px;
    border-top: solid 1px #dee2e6;
    padding-top: 32px;
    font-size: 14px;
    color: #6c757d;
    text-align: center;
  }
}
.brand {
  padding: 64px 0;
  font-weight: 400;
  color: #212529;
}
.brand__content__title {
  color: #57a203;
}
.brand__section__title {
  color: #212529;
}
.brand__section {
  margin-top: 48px;
}
.brand__section::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #dee2e6;
  margin-top: 48px;
}
.brand-quote {
  padding: 32px;
  border-radius: 4px;
  text-align: center;
  background-color: #f5fee7;
}
.brand-quote__text {
  margin-top: 4px;
}
.brand-quote__text--first {
  margin-top: 12px;
}
.brand-intro__image {
  width: calc(100% + 220px);
  max-width: none;
  margin: 0 -110px;
}
.brand-intro__content, .brand-intro__subtitle {
  margin-top: 24px;
}
.brand-intro__text {
  margin-top: 16px;
}
.brand-history__list {
  margin-top: 24px;
  list-style-type: disc;
  padding-left: 28px;
}
.brand-history__item {
  margin-top: 12px;
}
.brand-history__item:first-child {
  margin-top: 0;
}
.brand-history__item--border::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 24px;
  background-color: #212529;
  margin: -2px 8px 0px;
}
.brand-concept__list {
  margin-top: 24px;
}
.brand-concept__item {
  margin-top: 12px;
  padding-left: 9px;
  border-left: solid 3px #dee2e6;
}
.brand-concept__item:first-child {
  margin-top: 0;
}
.brand-story__list {
  margin-top: 24px;
}
.brand-story__link {
  display: inline-block;
  padding: 8px 0;
  color: #57a203;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.brand-story__link:hover {
  color: #3c7002;
}
.brand-story__icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}
.brand-story__text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  font-weight: 500;
}
.brand-story__text::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #57a203;
  margin-top: 4px;
}

@media (max-width: 1200px) {
  .brand-intro__image {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
}
@media (max-width: 767px) {
  .brand {
    padding: 32px 0;
  }
  .brand__content__title {
    font-size: 20px;
  }
  .brand__section {
    margin-top: 32px;
  }
  .brand__section::after {
    margin-top: 32px;
  }
  .brand-quote {
    padding: 24px;
    text-align: left;
  }
  .brand-intro__content, .brand-intro__subtitle {
    margin-top: 16px;
  }
  .brand-intro__subtitle {
    font-size: 16px;
  }
  .brand-intro__subtitle--mobile {
    display: block;
    margin-top: 8px;
  }
  .brand-intro__text {
    margin-top: 12px;
  }
  .brand-history__list {
    margin-top: 16px;
  }
  .brand-concept__list {
    margin-top: 16px;
  }
  .brand-story__list {
    margin-top: 16px;
  }
}
.products {
  padding: 32px 0;
}
.products__title {
  margin-top: 24px;
  padding: 7px 0;
}
.products-main {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}
.products__categories {
  width: 15%;
}
.products__categories__item {
  margin-top: 16px;
  width: 85%;
}
.products__categories__item:first-child {
  margin-top: 0;
}
.products__categories__link {
  color: #212529;
  display: inline-block;
  padding: 12px 0;
}
.products__categories__link--active {
  color: #57a203;
}
.products__categories__link:hover {
  color: #57a203;
}
.products__content {
  width: calc(85% - 24px);
}
.products__content__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 48px 24px;
}
.products__content__item {
  width: calc(33.333% - 16px);
}

@media (max-width: 767px) {
  .products {
    padding: 16px 0;
  }
  .products__title {
    margin-top: 12px;
    padding: 9.5px 0;
    font-size: 24px;
  }
  .products-main {
    margin-top: 12px;
    display: block;
  }
  .products__categories {
    display: none;
  }
  .products__content {
    width: 100%;
  }
  .products__content__list {
    gap: 24px 24px;
  }
}
@media (max-width: 576px) {
  .products__content__list {
    gap: 24px 12px;
  }
  .products__content__item {
    width: calc(50% - 6px);
  }
}
.product-detail {
  padding: 64px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.product-detail__showcase {
  width: 57.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}
.product-detail__showcase__image {
  width: calc(50% - 4px);
  -o-object-fit: cover;
     object-fit: cover;
}
.product-detail__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.product-detail__title {
  margin-top: 12px;
}
.product-detail__price {
  margin-top: 16px;
  color: #57a203;
}
.product-detail__price--origin {
  color: #adb5bd;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
}
.product-detail__description {
  margin-top: 16px;
  font-weight: 400;
}
.product-detail__description__text {
  margin-top: 12px;
}
.product-detail__colors {
  margin-top: 32px;
}
.product-detail__colors__title {
  font-weight: 400;
}
.product-detail__colors__list {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.product-detail__colors__name {
  margin-top: 4px;
  color: #6c757d;
}
.product-detail__colors__item {
  text-align: center;
  cursor: pointer;
}
.product-detail__colors__item:hover {
  opacity: 0.9;
}
.product-detail__colors__item--selected .product-detail__colors__image {
  border: solid 1px #212529;
}
.product-detail__colors__item--selected .product-detail__colors__name {
  color: #212529;
}
.product-detail__sizes {
  margin-top: 32px;
}
.product-detail__sizes__title {
  font-weight: 400;
}
.product-detail__sizes__list {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
.product-detail__sizes__item {
  width: 160px;
  text-align: center;
}
.product-detail__sizes__link {
  display: block;
  padding: 12px 24px;
  color: #212529;
  border: solid 1px #dee2e6;
  border-radius: 4px;
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
}
.product-detail__sizes__link:hover {
  border: solid 1px #6c757d;
}
.product-detail__sizes__link--selected {
  border: solid 1px #212529;
}
.product-detail__sizes__link--disabled {
  color: #adb5bd;
  border: solid 1px #dee2e6;
  cursor: not-allowed;
}
.product-detail__sizes__message {
  margin-top: 8px;
  color: #d74f4f;
  font-weight: 400;
  font-size: 14px;
}
.product-detail__actions {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.product-detail__actions__collect, .product-detail__actions__reserve {
  width: calc(50% - 4px);
  border-radius: 4px;
  display: block;
  padding: 12px;
  text-align: center;
}
.product-detail__actions__collect {
  border: solid 1px #212529;
  color: #212529;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.product-detail__actions__collect:hover {
  background-color: #212529;
  color: white;
}
.product-detail__actions__reserve {
  background-color: #212529;
  color: white;
}
.product-detail__actions__reserve:hover {
  opacity: 0.8;
}
.product-detail__actions__reserve:focus {
  opacity: 0.8;
  -webkit-box-shadow: 0 0 3px #383f45;
          box-shadow: 0 0 3px #383f45;
}
.product-detail__actions__collect__icon, .product-detail__actions__reserve__icon {
  font-size: 18px;
  margin-right: 8px;
}
.product-detail__notice {
  margin-top: 32px;
}
.product-detail__notice__item {
  margin-top: 12px;
}
.product-detail__notice__item::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #dee2e6;
  margin-top: 12px;
}
.product-detail__notice__text {
  margin-top: 4px;
  color: #6c757d;
  font-weight: 400;
}
.product-detail__notice__title {
  font-weight: 500;
}
.product-maybelike {
  padding: 48px 0;
}
.product-maybelike__title {
  padding: 9.5px 0;
}
.product-maybelike__list {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.product-maybelike__item {
  width: calc(25% - 18px);
}

@media (max-width: 992px) {
  .product-detail {
    padding: 0;
    display: block;
  }
  .product-detail__showcase {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 24px;
  }
  .product-detail__showcase__image:nth-child(5), .product-detail__showcase__image:nth-child(6), .product-detail__showcase__image:nth-child(7), .product-detail__showcase__image:nth-child(8) {
    display: none;
  }
  .product-detail__title {
    font-size: 24px;
    margin-top: 8px;
  }
  .product-detail__price {
    font-size: 16px;
    margin-top: 12px;
  }
  .product-detail__description {
    margin-top: 0;
  }
  .product-detail__sizes {
    margin-top: 24px;
  }
  .product-detail__actions {
    margin-top: 24px;
  }
  .product-maybelike {
    padding: 40px 0;
  }
  .product-maybelike__title {
    padding: 8px 0;
  }
  .product-maybelike__list {
    overflow-x: auto;
  }
  .product-maybelike__item {
    width: 45%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
@media (max-width: 767px) {
  .product-detail__showcase__image:nth-child(3), .product-detail__showcase__image:nth-child(4) {
    display: none;
  }
}
@media (max-width: 576px) {
  .product-detail__showcase {
    display: block;
    width: calc(100% + 24px);
    margin-left: -12px;
  }
  .product-detail__showcase__image {
    max-width: none;
    width: 100%;
  }
  .product-detail__showcase__image:nth-child(2) {
    display: none;
  }
  .product-detail__actions__collect {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    border: none;
    width: 48px;
  }
  .product-detail__actions__collect:hover {
    background-color: transparent;
    color: #212529;
  }
  .product-detail__actions__collect__text {
    display: none;
  }
  .product-detail__actions__collect__icon {
    font-size: 24px;
    color: #212529;
    margin-right: 0;
  }
  .product-detail__actions__reserve {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .product-maybelike__list {
    gap: 16px;
  }
  .product-maybelike__item {
    width: 80%;
  }
  .product-maybelike__item .card__image {
    width: 100%;
  }
}
.index-banner {
  background-image: url("../images/index-banner.jpg");
  background-size: cover;
  background-position: center;
}
.index-banner__info {
  padding: 288px 0 288px 10.4%;
}
.index-banner__title {
  font-size: 64px;
  color: white;
}
.index-banner__subtitle {
  color: white;
  margin-top: 16px;
}
.index-banner__link {
  margin-top: 48px;
}
.index-newarrival__content {
  padding: 64px 0;
}
.index-newarrival__head {
  font-size: 48px;
  text-align: center;
}
.index-newarrival__title {
  margin-top: 12px;
  text-align: center;
}
.index-newarrival__list {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px 24px;
}
.index-newarrival__item {
  width: calc(50% - 12px);
}
.index-hotcake__content {
  padding: 64px 0;
}
.index-hotcake__list {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.index-hotcake__item {
  width: calc(25% - 18px);
}
.index-collaboration {
  margin: 48px 0;
  padding: 100px 0;
  background-image: url("../images/index-collaboration.jpg");
  background-size: cover;
  background-position: center;
}
.index-collaboration__content {
  width: 635px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.index-collaboration__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 48px;
  color: white;
}
.index-collaboration__head--decora {
  display: inline-block;
  vertical-align: middle;
  font-size: 40px;
  margin: 0 24px;
  color: #c0fa73;
}
.index-collaboration__title {
  margin-top: 16px;
  color: white;
}
.index-collaboration__text {
  margin-top: 32px;
  font-size: 20px;
  font-weight: 400;
  color: #adb5bd;
}
.index-collaboration__link {
  margin-top: 48px;
}
.index-collaboration__decora__star {
  position: absolute;
  top: -32px;
  left: -64px;
  z-index: 2;
}
.index-collaboration__decora__sparkle {
  position: absolute;
  bottom: 12px;
  right: -48px;
  z-index: 2;
}
.index-series__content {
  padding: 64px 0;
}
.index-series__list {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}
.index-series__item {
  width: calc(25% - 18px);
}
.index-outfit__content {
  padding: 64px 0;
}
.index-outfit__list {
  margin-top: 16px;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.index-outfit__item:nth-child(5) {
  grid-column: 5/span 2;
  grid-row: 1/span 2;
}
.index-outfit__item:nth-child(6) {
  grid-column: 1/span 2;
  grid-row: 2/span 2;
}

@media (max-width: 1200px) {
  .index-banner__info {
    padding: 288px 0 288px 50px;
  }
}
@media (max-width: 992px) {
  .index-hotcake__list {
    overflow-x: auto;
  }
  .index-hotcake__item {
    width: 45%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .index-outfit__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .index-outfit__item:nth-child(5) {
    grid-column: auto;
    grid-row: auto;
  }
  .index-outfit__item:nth-child(6) {
    grid-column: auto;
    grid-row: auto;
  }
}
@media (max-width: 767px) {
  .index-banner {
    background-image: url("../images/index-banner-mobile.jpg");
  }
  .index-banner__info {
    padding: 155px 24px;
  }
  .index-banner__title {
    font-size: 48px;
  }
  .index-banner__subtitle {
    font-size: 20px;
    margin-top: 8px;
  }
  .index-banner__link {
    margin-top: 32px;
    padding: 12px 24px;
  }
  .index-newarrival__content {
    padding: 40px 0;
  }
  .index-newarrival__head {
    font-size: 32px;
  }
  .index-newarrival__title {
    margin-top: 8px;
    font-size: 24px;
  }
  .index-newarrival__list {
    margin-top: 24px;
    gap: 24px 12px;
  }
  .index-newarrival__item {
    width: calc(50% - 6px);
  }
  .index-newarrival .card__title {
    font-size: 16px;
  }
  .index-hotcake__content {
    padding: 40px 0;
  }
  .index-hotcake__title {
    font-size: 24px;
  }
  .index-collaboration {
    margin: 24px 0;
    padding: 64px 12px;
    background-image: url("../images/index-collaboration-mobile.jpg");
    overflow: hidden;
  }
  .index-collaboration__content {
    width: 100%;
  }
  .index-collaboration__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 32px;
  }
  .index-collaboration__head--decora {
    font-size: 28px;
    margin: 8px 0;
  }
  .index-collaboration__title {
    font-size: 20px;
  }
  .index-collaboration__text {
    margin-top: 24px;
    font-size: 16px;
  }
  .index-collaboration__link {
    margin-top: 32px;
  }
  .index-collaboration__decora__star {
    top: -32px;
    left: -40px;
  }
  .index-collaboration__decora__sparkle {
    bottom: -12px;
    right: -48px;
  }
  .index-series__content {
    padding: 40px 0;
  }
  .index-series__title {
    font-size: 24px;
  }
  .index-series__list {
    gap: 12px;
  }
  .index-series__item {
    width: calc(50% - 6px);
  }
  .index-outfit__content {
    padding: 40px 0;
  }
  .index-outfit__title {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .index-hotcake__list {
    gap: 16px;
  }
  .index-hotcake__item {
    width: 80%;
  }
  .index-outfit__list {
    overflow-x: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
  }
  .index-outfit__item {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    max-width: 300px;
  }
}
.account {
  padding: 64px 0;
}
.account__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}
.account__picture {
  width: calc(40% - 12px);
}
.account__info {
  width: calc(60% - 12px);
  background-image: url("../images/account-info-bg.png");
  background-size: cover;
  border-radius: 12px;
  padding: 0px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.account__title {
  text-align: center;
}
.account__menu {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.account__menu__item {
  width: 50%;
}
.account__menu__link {
  display: block;
  text-align: center;
  padding: 12px;
  color: #6c757d;
  font-weight: 700;
  border-bottom: solid 2px #dee2e6;
  -webkit-transition: color 0.3s ease, border-color 0.3s ease;
  transition: color 0.3s ease, border-color 0.3s ease;
}
.account__menu__link--active, .account__menu__link:hover {
  color: #212529;
  border-bottom: solid 2px #212529;
}
.account__social {
  margin-top: 32px;
}
.account__social__item {
  background-color: white;
  border: solid 1px #dee2e6;
  border-radius: 4px;
  margin-top: 8px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.account__social__item:nth-child(1) {
  margin-top: 0;
}
.account__social__item:hover {
  background-color: #f8f9fa;
}
.account__social__link {
  display: block;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  color: #212529;
  font-weight: 400;
}

@media (max-width: 992px) {
  .account {
    padding: 0px;
  }
  .account__content {
    gap: 0px;
  }
  .account__picture {
    width: 100%;
  }
  .account__image {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .account__info {
    width: 100%;
    border-radius: 0px;
    background: none;
    padding: 32px 0;
  }
  .account__title {
    font-size: 24px;
  }
  .account__menu {
    margin-top: 24px;
  }
  .account__social {
    margin-top: 24px;
  }
  .account__social__item {
    margin-top: 8px;
  }
}
@media (max-width: 767px) {
  .account__picture {
    width: calc(100% + 24px);
  }
  .account__image {
    max-width: none;
    width: calc(100% + 24px);
    position: relative;
    left: -12px;
  }
}
.collect {
  padding: 64px 0;
}
.collect__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}
.collect__iconarea {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #c0fa73;
  text-align: center;
  border-radius: 99em;
}
.collect__icon {
  color: #477a11;
}
.collect__time {
  background-color: #f5fee7;
  padding: 16px;
  color: #57a203;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin-top: 32px;
}
.collect__time__icon {
  font-size: 24px;
}
.collect__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin-top: 32px;
  padding-bottom: 32px;
  border-bottom: solid 1px #dee2e6;
}
.collect__image {
  width: 120px;
}
.collect__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.collect__info > * {
  margin-top: 8px;
}
.collect__info__title {
  margin-top: 0;
}
.collect__info__matalabel {
  color: #6c757d;
  font-weight: 400;
}
.collect__info__price {
  text-align: right;
}
.collect__btn {
  text-align: center;
  margin-top: 32px;
}

@media (max-width: 767px) {
  .collect {
    padding: 24px 0;
  }
  .collect__title {
    gap: 8px;
    font-size: 24px;
  }
  .collect__iconarea {
    width: 32px;
    height: 32px;
    line-height: 32px;
  }
  .collect__time {
    margin-top: 24px;
  }
  .collect__time__icon {
    font-size: 24px;
  }
  .collect__time--mobileblock {
    display: block;
  }
  .collect__item {
    margin-top: 24px;
    padding-bottom: 24px;
  }
  .collect__info__title {
    font-size: 16px;
  }
  .collect__info__meta {
    font-size: 14px;
  }
  .collect__info__matalabel {
    color: #6c757d;
    font-weight: 400;
  }
  .collect__info__price {
    font-size: 16px;
    text-align: left;
  }
  .collect__btn {
    margin-top: 24px;
  }
}